<%- include("partials/header") %>
<div class="container">
	<header>
        <h1>Login using :</h1>
    </header>
    <main>
        <a class="btn btn-danger btn-lg" href="/auth/google">Google</a>
    </main>
</div>
        
<%- include("partials/footer") %>
